<div div fxLayout="column">
  <h2 class="myheader">Welcome to Shannon Estuary Monitoring Service.</h2>

  <p>
    This is a service mainly designed for the Shannon Pilots to report their
    sightings of dolphins and for the
    <a href="http://www.iwdg.ie/">Irish Whale and Dolphin Group</a> to see these
    reports.
  </p>

  <p>
    However it is open to all, to both report and view other reports on Dolphins
    in the Shannon Estuary. However we do ask you to
    <a routerLink="/signup">Signup</a> first
  </p>

  <!--     <h2 class = "myheader">
      <a *ngIf="!isAuth" class = "mybutton" routerLink="/signup"><button class="btn mat-primary mat-raised-button" > PLEASE SIGN-UP</button></a>
      <a *ngIf="isAuth" class = "mybutton" routerLink="/new"><button class="btn mat-primary mat-raised-button" > New Report</button></a>
      <p>Information on the Project</p>
    </h2> -->

  <div fxLayout fxLayout.xs="column" fxLayoutAlign=" start" fxLayoutGap="10px">
    <img src="assets/PilotBoat.jpg" alt="Pilot Boat at Scattery" fxFlex="40" />
    <p>
      Shannon Pilots are proud to provide this public service. Our work is
      devoted to safety, security and environmental protection, thus enhancing
      port efficiency. This is why we feel it important to assist the Irish
      Whale and Dolphin Group to hopefully get a better understanding of
      movement and habits of the resident bottlenose dolphins on the Shannon
      Estuary. We as maritime pilots are the only group who transit the estuary
      throughout the year on a daily basis and are therefore in a unique
      position to be able to gather data that was not previously explored
    </p>
  </div>

  <div fxLayout fxLayout.xs="column" fxLayoutAlign=" start" fxLayoutGap="20px">
    <p>
      The main species we have in the estuary is the Bottlenose Dolphin. They
      are Probably the best known species of dolphin due to its coastal
      habitats, widespread distribution, and many appearances on television,
      bottlenose dolphins are usually seen in small groups and are rarely seen
      alone. They are quite active at the surface of the water. When traveling
      slowly, about one-quarter to one-third of the body appears above the
      water. When traveling at speed they often jump clear out of the water.
      When traveling, they normally surface 2-3 times a minute - the forehead is
      most often seen breaking the surface while the beak and fluke are seldom
      visible. They are often seen bowriding boats, the reason for which is
      unclear. It may be to propel themselves along the water in an effort to
      save energy, or it may just be for fun! They have also been observed
      surfing inshore breakers or storm waves mid-ocean.They can be quite
      acrobatic leaping high out of the water, spinning, turning, and landing
      with a big splash.
    </p>
    <img
      src="assets/bndidpic.jpg"
      alt="Bottlenose Dolphin (Simon Berrow)"
      fxFlex="40"
    />
  </div>

  <p>
    Bottlenose dolphins often school with other species, including pilot whales.
    They are powerful swimmers and generally dive for 1-4 minutes inshore,
    although dives occasionally last longer offshore.
  </p>
  <p>
    We have designated the following behaviors(but feel free to add your own
    comments!):
  </p>
  <ul>
    <li>
      <b>Foraging</b> - indications of searching for prey, prey capture or
      feeding behaviors (surface rushing)
    </li>
    <li>
      <b>Play</b> - Interactions with objects other than dolphins which serve no
      obvious purpose
    </li>
    <li>
      <b>Rest</b> - Slow, steady activity in absence of other identifiable
      activities, often with long dive bouts (1 to 5 min)
    </li>
    <li>
      <b>Travel</b> - Regular directional movement, including zig-zag and
      meandering movement
    </li>
    <li>
      <b>With boat</b> - All cases during which dolphins interact with a boat,
      including bow- and wake-riding
    </li>
  </ul>
</div>
